<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>FarmForecast</title>
</head>
<body>
    <header>
    
        <div id="title"><h1>FarmForecast</h1></div>
            <img src= "{% static 'static/img/FARMforecast.png' %}" alt="Logo" id="logo">
            <form method="GET">{% csrf_token %}
            <div class="search">
                <input type="text" placeholder='Enter place' name="city" class="search"/>
                <button type="submit" class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                </button>
            </div>
            <form method="GET">{% csrf_token %}
                <label for="season">My Variable:</label>
                <input type="text" id="season" name="season">
                <input type="submit" value="Submit">
              </form>
              
        </div>
    </header> 
    <h1>Rainfall:{{dl}}</h1>
</body>
<script src="script.js"></script>
</html>